# MySQL 数据库配置
DB_TYPE=mysql
DB_HOST=192.168.174.128
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=123456
DB_DATABASE=hello
DB_SYNCHRONIZE=true
DB_LOGGING=true
DB_CONNECTOR=mysql2

# OpenAI API 配置（阿里百炼兼容模式）
OPENAI_API_KEY=sk-xx
OPENAI_BASE_URL=https://api.deepseek.com/v1
MODEL_NAME=deepseek-chat

# 邮件服务 SMTP 配置
MAIL_HOST=smtp.qq.com
MAIL_PORT=587
MAIL_SECURE=false
MAIL_USER=xx@xx.com
MAIL_PASS=xx
MAIL_FROM="No Reply" <xx@xx.com>

# Bocha Web Search API Key
BOCHA_API_KEY=sk-xx
